.hero {
      height: 613px;
      border: 2px solid green;
      background: linear-gradient(90.34deg, #F1F4FF 1.99%, #FAF1FF 99.65%);
}

.hero__container {
      border: 2px solid black;
      padding: 60px 275px;
      
}

.hero__left {
     display: flex;
}

.gradient {
      color:linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
}

